@import url('https://fonts.googleapis.com/css?family=Trirong');
body{
	background-image: url(http://tom-dshikorn.dou.tomsk.ru/files/2013/03/fon-abstraktnyiy.jpg);
	font-family: 'Trirong', serif;
}
h3{
	text-align: center;
	color: #1D1545
}